html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(img/gambarAbstrak.jpg);
  background-size: auto;
  background-repeat: repeat;
  line-height: 1.65;
  padding-bottom: 1000px;
}
.container-satu {
  width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  background-image: url(img/field1.jpg);
}
.sidebar-satu {
  width: 1000px;
}
.kolom-utama {
  width: 3000px;
  margin-left: 10px;
  margin-right: 10px;
}
.sidebar-dua {
  width: 1000px;
}
