body {
    background-color: #bdb784;
    font-family: Arial;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #f5f0d4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

p {
    margin: 0;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"],
a {
    font-size: 13px;
    display: inline-block;
    background-color: #8b6f47;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

input[type="submit"]:hover,
a:hover {
    background-color: coral;
}

a {
    background-color: #8b6f47;
    margin-left: 10px;
}